* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a{
    margin-right: 20px;
    text-decoration: none;
}

nav .menu-icon {
    display: none;
}

@media (max-width: 600px) {
    nav ul {
        display: none;
    }

    nav .menu-icon {
        display: block;
    }
}